
h2{
  color: #fff;
}



.description-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: white;
}



article {
    width: 300px;
    height: 400px; 
    overflow: hidden;
    flex-direction: column;
    
    background-color: #000102 ;  

  }
  
  article img {
    width: 100%;
    max-height: 60%; 
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  


.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}

.card-buttons button {
  padding: 5px 10px;
  border: none;

  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right:10px;
}


  
 
  @media screen and (max-width: 768px) {
    article {
      width:300px;
      max-height: none;
      margin-bottom: 20px;
    }
    
    article img {
      max-height: 50%;
      max-width: 400px;
  }

}